rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reguły dla produktów i cen (widoczne dla wszystkich)
    match /products/{id} {
      allow read: if true;
      match /prices/{id} {
        allow read: if true;
      }
    }

    // Reguły dla użytkowników (dostęp tylko do własnych danych)
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      match /{allPaths=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }


    // Reguły dla rozszerzenia Stripe (Customer Data)
    match /customers/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /subscriptions/{id} {
        allow read: if request.auth != null && request.auth.uid == userId;
      }
      match /payments/{id} {
        allow read: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
